@media (min-width: 1200px) {
  .melk-gallery {
    width: 100%;
    height: 900px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 50px;
  }

  .melk-large {
    max-width: 90%;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  .melk-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
    cursor: zoom-in;
    /* حالت اولیه: زوم این */

  }


  .melk-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
  }

  .melk-thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .melk-thumbnails img:hover {
    transform: scale(1.1);
  }


  .melk-large.lightbox img {
    cursor: zoom-out;
    /* وقتی کلاس lightbox فعال شد */
  }

  .melk-texts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    direction: rtl;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .melk-texts>div {
    width: 90%;
    border-bottom: 1px solid #66666680;
  }

  .melk-texts>div:nth-last-of-type(1) {
    border-bottom: none;
  }

  .melk-texts>div>p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .melk-texts>div>p:nth-of-type(1) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .melk-texts>div>p:nth-of-type(2) {
    color: #444;
    font-size: 14px;
  }

  .melk-texts>div>article {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;


  }

  .melk-texts>div>ul {
    width: 100%;
    padding-right: 40px;
    /* فاصله منظم از راست */
    list-style-position: inside;
    /* نقطه بیاد داخل محدوده متن */
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .melk-texts>div>ul>li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
  }

  .melk-texts>div>ul>li:nth-last-of-type(1) {

    padding-bottom: 30px;
  }


  .melk-texts>div>p:nth-of-type(1) {
    font-size: 53px;
    font-weight: 400;
  }

  .melk-texts>p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
  }

  .melk-video {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .melk-video>video {
    width: 80%;
    border-radius: 20px;
  }

}


@media (min-width: 992px) and (max-width: 1200px) {
  .melk-gallery {
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 40px;
  }

  .melk-large {
    max-width: 90%;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  .melk-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
    cursor: zoom-in;
    /* حالت اولیه: زوم این */

  }


  .melk-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
  }

  .melk-thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .melk-thumbnails img:hover {
    transform: scale(1.1);
  }


  .melk-large.lightbox img {
    cursor: zoom-out;
    /* وقتی کلاس lightbox فعال شد */
  }

  .melk-texts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    direction: rtl;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .melk-texts>div {
    width: 90%;
    border-bottom: 1px solid #66666680;
  }

  .melk-texts>div:nth-last-of-type(1) {
    border-bottom: none;
  }

  .melk-texts>div>p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .melk-texts>div>p:nth-of-type(1) {
    padding-top: 30px;
    padding-bottom: 30px;


  }

  .melk-texts>div>p:nth-of-type(2) {
    color: #444;
    font-size: 14px;
  }

  .melk-texts>div>article {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 14px;
    text-align: justify;
    line-height: 27px;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;


  }

  .melk-texts>div>ul {
    width: 100%;
    padding-right: 40px;
    /* فاصله منظم از راست */
    list-style-position: inside;
    /* نقطه بیاد داخل محدوده متن */
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .melk-texts>div>ul>li {
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
  }

  .melk-texts>div>ul>li:nth-last-of-type(1) {

    padding-bottom: 30px;
  }


  .melk-texts>div>p:nth-of-type(1) {
    font-size: 53px;
    font-weight: 400;
  }

  .melk-texts>p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: bold;
  }

  .melk-video {
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .melk-video>video {
    width: 90%;
    border-radius: 20px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .melk-gallery {
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 40px;
  }

  .melk-large {
    max-width: 90%;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  .melk-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
    cursor: zoom-in;
    /* حالت اولیه: زوم این */

  }


  .melk-thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
  }

  .melk-thumbnails img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .melk-thumbnails img:hover {
    transform: scale(1.1);
  }


  .melk-large.lightbox img {
    cursor: zoom-out;
    /* وقتی کلاس lightbox فعال شد */
  }

  .melk-texts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    direction: rtl;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .melk-texts>div {
    width: 90%;
    border-bottom: 1px solid #66666680;
  }

  .melk-texts>div:nth-last-of-type(1) {
    border-bottom: none;
  }

  .melk-texts>div>p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .melk-texts>div>p:nth-of-type(1) {
    padding-top: 30px;
    padding-bottom: 30px;


  }

  .melk-texts>div>p:nth-of-type(2) {
    color: #444;
    font-size: 12px;
  }

  .melk-texts>div>article {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 12px;
    text-align: justify;
    line-height: 30px;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;


  }

  .melk-texts>div>ul {
    width: 100%;
    padding-right: 40px;
    /* فاصله منظم از راست */
    list-style-position: inside;
    /* نقطه بیاد داخل محدوده متن */
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .melk-texts>div>ul>li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #444;
  }

  .melk-texts>div>ul>li:nth-last-of-type(1) {

    padding-bottom: 30px;
  }


  .melk-texts>div>p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 400;
  }

  .melk-texts>p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
  }

    .melk-video{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .melk-video>video{
      width: 90%;
      border-radius: 20px;
    }
}

@media (min-width: 560px) and (max-width: 768px) {
  .melk-gallery {
    width: 100%;
    height: 700px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 40px;
  }

  .melk-large {
    max-width: 90%;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  .melk-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
    cursor: zoom-in;
    /* حالت اولیه: زوم این */

  }


  .melk-thumbnails {
    max-width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
  }

  .melk-thumbnails img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .melk-thumbnails img:hover {
    transform: scale(1.1);
  }


  .melk-large.lightbox img {
    cursor: zoom-out;
    /* وقتی کلاس lightbox فعال شد */
  }

  .melk-texts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    direction: rtl;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .melk-texts>div {
    width: 90%;
    border-bottom: 1px solid #66666680;
  }

  .melk-texts>div:nth-last-of-type(1) {
    border-bottom: none;
  }

  .melk-texts>div>p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .melk-texts>div>p:nth-of-type(1) {
    padding-top: 30px;
    padding-bottom: 30px;


  }

  .melk-texts>div>p:nth-of-type(2) {
    color: #444;
    font-size: 12px;
  }

  .melk-texts>div>article {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 12px;
    text-align: justify;
    line-height: 30px;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;

  }


  .melk-texts>div:nth-of-type(2)>p:nth-of-type(2) {
    line-height: 25px;
  }

  .melk-texts>div>ul {
    width: 100%;
    padding-right: 40px;
    /* فاصله منظم از راست */
    list-style-position: inside;
    /* نقطه بیاد داخل محدوده متن */
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .melk-texts>div>ul>li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #444;
  }

  .melk-texts>div>ul>li:nth-last-of-type(1) {

    padding-bottom: 30px;
  }


  .melk-texts>div>p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 400;
  }

  .melk-texts>p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
  }

      .melk-video{
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .melk-video>video{
      width: 90%;
      border-radius: 20px;
    }
}

@media (max-width: 560px) {
  .melk-gallery {
    width: 100%;
    height: 600px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-top: 40px;
  }

  .melk-large {
    max-width: 90%;
    border-radius: 20px;
    height: 700px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

  }

  .melk-large img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.2s;
    cursor: zoom-in;
    /* حالت اولیه: زوم این */

  }


  .melk-thumbnails {
    max-width: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 150px;
  }

  .melk-thumbnails img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
  }

  .melk-thumbnails img:hover {
    transform: scale(1.1);
  }


  .melk-large.lightbox img {
    cursor: zoom-out;
    /* وقتی کلاس lightbox فعال شد */
  }

  .melk-texts {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    direction: rtl;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .melk-texts>div {
    width: 90%;
    border-bottom: 1px solid #66666680;
  }

  .melk-texts>div:nth-last-of-type(1) {
    border-bottom: none;
  }

  .melk-texts>div>p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: justify;
  }

  .melk-texts>div>p:nth-of-type(1) {
    padding-top: 30px;
    padding-bottom: 30px;


  }

  .melk-texts>div>p:nth-of-type(2) {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 12px;


  }

  .melk-texts>div>p:nth-of-type(2) {
    color: #444;
    font-size: 12px;
  }

  .melk-texts>div>article {
    padding-bottom: 50px;
    padding-right: 30px;
    color: #444;
    font-size: 12px;
    text-align: justify;
    line-height: 30px;
    direction: rtl;
    padding-right: 30px;
    padding-left: 30px;

  }

  .melk-texts>div>ul {
    width: 100%;
    padding-right: 40px;
    /* فاصله منظم از راست */
    list-style-position: inside;
    /* نقطه بیاد داخل محدوده متن */
    display: flex;
    flex-flow: column;
    align-items: start;
  }

  .melk-texts>div>ul>li {
    margin-bottom: 10px;
    font-size: 12px;
    color: #444;
  }

  .melk-texts>div>ul>li:nth-last-of-type(1) {

    padding-bottom: 30px;
  }


  .melk-texts>div>p:nth-of-type(1) {
    font-size: 40px;
    font-weight: 400;
  }

  .melk-texts>p {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
  }
      .melk-video{
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    .melk-video>video{
      width: 90%;
      border-radius: 20px;
    }
}